# Binaries
build/bin/
build/
bin/

# Go
core
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
vendor/

# Node/Frontend
frontend/node_modules/
frontend/dist/
frontend/build/
.DS_Store

# Databases
*.db
*.db-journal

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Wails specific
wails.log
